<!DOCTYPE html>
<html>
  <!-- head -->
  <head>
    <title>sequlize 테스트</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <!-- body -->
  <body>
    <div>
      <!-- 사용자 등록 form -->
      <form id="user-form">
        <fieldset>
          <legend>사용자 등록</legend>
          <div><input id="username" type="text" placeholder="이름" /></div>
          <div><input id="age" type="number" placeholder="나이" /></div>
          <div>
            <input id="married" type="checkbox" />
            <label for="married">결혼 여부</label>
            <button type="submit">등록</button>
          </div>
        </fieldset>
      </form>
      <br />

      <!-- 사용자 정보 테이블 -->
      <table id="user-list">
        <thead>
          <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>나이</th>
            <th>결혼여부</th>
          </tr>
        </thead>

        <tbody>
          <% for (user of users) { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.age %></td>
            <td><%= user.married ? '기혼' : '미혼'%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <br />

      <!-- 댓글 등록 form -->
      <form id="comment-form">
        <fieldset>
          <legend>댓글 등록</legend>
          <div>
            <input id="userid" type="text" placeholder="사용자 아이디" />
          </div>
          <div><input id="comment" type="text" placeholder="댓글" /></div>
          <button type="submit">등록</button>
        </fieldset>
      </form>
      <br />

      <!-- 댓글 정보 테이블 -->
      <table id="comment-list">
        <thead>
          <tr>
            <th>아이디</th>
            <th>작성자</th>
            <th>댓글</th>
            <th>수정</th>
            <th>삭제</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <!-- script -->
    <script type="text/javascript" src="/javascripts/sequelize.js"></script>
  </body>
</html>
